.App {
  text-align: center;
  margin: 2rem;
}

.action-div {
  display: flex;
  gap: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.filter-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.project-list {
  display: flex;
  row-gap: 16;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
